PORT=
HOST_URL

DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=

SALT_ROUND=
JWT_KEY=

MAIL_HOST=
MAIL_PORT=
SHOP_EMAIL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=
OAUTH_ACCESS_TOKEN=

AWS_USER_KEY=
AWS_USER_SECRET=
AWS_BUCKET_NAME=